@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@500&family=Honk&family=Lobster&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.tituloMain{
    text-align: center;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
} 
.bgColor{
    margin-top: 100px;
    /* background: linear-gradient(#a1b6e4, white, pink); */
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
}
 a{
    font-family: 'Lobster';
    font-size: 22px;
    text-decoration: none;
 }

 .itemCategorias{
    font-size: 18px;
    text-align: center;
 }
 
 .botonesInicio{
    box-shadow: 0px 0px 5px 8px rgb(251, 247, 255);
    background: linear-gradient(rgb(41, 40, 40),rgb(76, 84, 85),rgb(41, 40, 40));
    border: 2px white;
 }
 
 /*---------------------------------carrousel----------------------------------------*/
 .imgCarrusel{
    max-height: 600px;
    background-position: top;
    object-fit: cover;
 }

 /*-------------------------------productos destacados ---------------------------------*/
 .colorCard{
    background: radial-gradient(circle, rgba(238, 174, 202, 0.678) 0%, rgba(148, 188, 233, 0.637) 100%);
    box-shadow: 0px 0px 8px 8px rgb(78, 77, 77);
 }
 .imgCard{
    height: 200px; 
    width: 100%;
    object-fit: contain;
    
 }
 .bodyCard{
    height: 120px;
    font-family:'Acme';
 }
 /* --------------------Cotizacion del dolar--------------------------------- */
 .textDolar{
    font-family: 'Acme';
    font-size:22px;
 }
/*------------------------------ formulario----------------------------------------------------- */
#formulario {
    padding: 30px 10px;
} 

.form-control {    
     margin-bottom: 18px;
     padding-bottom: 25px;
     position: relative;
    background-color:  rgba(94, 50, 107, 0.041);
}

.form-control label {
    display: inline-block;
   /* font-family: 'Dancing script', cursive;*/
    font-size: 24px;
   /* margin-bottom: 8px;*/
}

.form-control input {
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 8px;
    width: 100%;    
}
.form-control, input:focus {
    outline: none;
}

.form-control.ok input {
    border: 0.1px solid;
    border-color: #6482c4;
}
.form-control.falla input {
    border: 0.1px solid;
    border-color: #e46b46;
}

#formulario button {
    background: #3d3938;
    border:1px solid #3d3936;
    border-radius: 2px;
    color: #f6f6e9;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.form-control p {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
}

.form-control.falla p {
    visibility: visible;
    color:#c23829;
}
::placeholder { 
    font-size: 16px;
    font-style: italic;
}

/*------------------------pie de pagina--------------------------------*/
.footerColor{
    background: linear-gradient( rgb(70, 70, 68), rgb(142, 137, 143),rgb(77, 72, 72), rgb(36, 34, 34)); 
}
.redes {
    height: 50px;
    width: 50px;
    /*border: 1px solid grey;*/
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 20px;
}

.redes a {
    color: rgba(24, 23, 23, 0.74);

}


   /*--------------------------carrito------------------------------*/
.centrar-div{
    text-align: center;
}

.btnColor{
    background: linear-gradient(45deg, rgb(0, 183, 255), rgb(255, 0, 255));
    box-shadow: 0 0 13px 10px white ;
    margin: 15px;
}
.btnHover:hover{
background: linear-gradient(45deg, rgb(0, 183, 255), rgb(255, 0, 255));
color: black;
font-weight: 800;
/* box-shadow: 0 0 2px 2px rgb(92, 89, 89); */
box-shadow: 0px 0px 5px 5px rgb(78, 77, 77);
font-style: italic;
}


/* --------------------------Formulario de compra----------------------------------- */
.textLabel{
    font-size: 24px;
    font-family:'Dancing script' ;
}
.formTarjeta{
    background: linear-gradient(#a1b6e4, white, pink);
    box-shadow: 0 0 2px 2px rgb(92, 89, 89);
}
.diseñoInput{
    border-color: rgb(230, 221, 221);
    box-shadow: 0 0 2px 2px rgb(92, 89, 89);
}